*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared css */
.body_width{
  max-width: 1600px;
  margin: 0 auto;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
  max-width: 1360px;
  margin: 0 auto;
}
.btn{
  font-size: 16px;
  color: white;
  text-transform: capitalize;
  background-color: #469165;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 13px 16px;
  cursor: pointer;
}

/* main css */

/* navber style  */
#header{
  padding: 24px 0;
}
#header .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .nav .nav_logo{
  max-width: 140px;
  max-height: 60px;
}
#header .nav .nav_logo img{
  width: 100%;
}
#header .nav .nav_logo .nav_menu{}
.nav_menu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.nav_menu ul li{
  list-style: none;
  padding: 12px 16px;
  border: 1px solid white;
  border-radius: 5px;
}
.nav_menu ul li:hover{
  border: 1px solid black;
   transition: all;
}
.nav_menu ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.nav_btn:hover{
  color: #469165;
  background-color: white;
  border: 1px solid #469165;
  transition: all;
}
#banner_section{
  padding-top: 160px;
  padding-bottom: 180px;
  text-align: center;
  background: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner_contents{
  max-width: 770px;
  margin: 0 auto;
}
.banner_contents .banner_top_btn{
  background-color: white;
  padding: 8px 12px;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 16px;
  cursor: pointer;
}
.banner_contents .banner_top_btn:hover{
  background-color: transparent;
  border: 1px solid #469165;
  transition: all;
}
.banner_contents .banner_top_btn img{
  width: 16px;
  height: 16px;
  border: 100%;
  margin-right: 6px;
}
.banner_contents .banner_top_btn span{
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}
.banner_contents h1{
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: white;
  margin-bottom: 16px;
}
.banner_contents h1 span{
  color: #30B868;
}
.banner_contents p{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
  margin-bottom: 32px;
}
.banner_bottom_btn{
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
.banner_bottom_btn button{
  background-color: #30B868;
  padding: 12px 16px;
  border: 1px solid #30B868;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.banner_bottom_btn button:hover{
  background-color: transparent;
  border: 1px solid white;
  transition: all;
}
.banner_bottom_btn button span{
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-right: 10px;
}
.banner_bottom_btn button img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* note section style */
#notes_section{
  padding: 120px 0;
}
.notes_section_head{
  margin-bottom: 44px;
  text-align: center;
}
.notes_section_head h2{
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}
.notes_section_head p{
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  color: #627382;
}
.notes_cards{
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}
.notes_cards .notes_card_item{
  max-width: 322px;
  padding: 70px 3px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.notes_cards .notes_card_item img{
  width: 60px;
  height: 60px;
  background-color: #F13529;
  padding: 14px;
  border-radius: 100%;
}
.notes_cards .notes_card_item h3{
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  color: #001931;
  margin-top: 16px;
}
.notes_cards .notes_card_item p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
}
/* Brain section style  */
#brain_section{
  padding-bottom: 120px;
}
#brain_section .brain_main{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}
.brain_main .brain_main{
  max-width: 600px;
}
.brain_main .brain_main img{
  width: 100%;
}

.brain_contents{}
.brain_contents h4{
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.brain_contents h2{
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #001931;
  margin-bottom: 16px;
}
.brain_contents p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.brain_contents ul{
  margin-top: 40px;
}
.brain_contents ul li{
  list-style: none;
  margin-bottom: 16px;
}
.brain_contents ul li a{
  text-decoration: none;
  display: flex;
  gap: 6px;
  align-items: center;
}
.brain_contents ul li a img{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.brain_contents ul li a span{
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

/* Early access section style  */
#Early_access_section{
  padding-bottom: 120px;
}
#Early_access_section .early_access_main{
  background-color: #F7F6F2;
  padding: 80px 40px;
  text-align: center;
}
.early_access_main h2{
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
.early_access_main p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}
.early_access_main button{
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 16px;
}
.early_access_main button:hover{
  color: #fff;
  background-color: #cfcdc5;
  border: 1px solid #627382;
  transition: all;
}
.early_access_main button span{}
.early_access_main button img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.early_access_main p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}