*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared css */
.body_width{
  max-width: 1600px;
  margin: 0 auto;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
  max-width: 1360px;
  margin: 0 auto;
}
.btn{
  font-size: 16px;
  color: white;
  text-transform: capitalize;
  background-color: #469165;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 13px 16px;
  cursor: pointer;
}

/* main css */

/* navber style  */
#header{
  padding: 24px 0;
}
#header .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .nav .nav_logo{
  max-width: 140px;
  max-height: 60px;
}
#header .nav .nav_logo img{
  width: 100%;
}
#header .nav .nav_logo .nav_menu{}
.nav_menu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.nav_menu ul li{
  list-style: none;
  padding: 12px 16px;
  border: 1px solid white;
  border-radius: 5px;
}
.nav_menu ul li:hover{
  border: 1px solid black;
   transition: all;
}
.nav_menu ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.nav_btn:hover{
  color: #469165;
  background-color: white;
  border: 1px solid #469165;
  transition: all;
}
#banner_section{
  padding-top: 160px;
  padding-bottom: 180px;
  text-align: center;
  background: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner_contents{
  max-width: 770px;
  margin: 0 auto;
}
.banner_contents .banner_top_btn{
  background-color: white;
  padding: 8px 12px;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 16px;
  cursor: pointer;
}
.banner_contents .banner_top_btn:hover{
  background-color: transparent;
  border: 1px solid #469165;
  transition: all;
}
.banner_contents .banner_top_btn img{
  width: 16px;
  height: 16px;
  border: 100%;
  margin-right: 6px;
}
.banner_contents .banner_top_btn span{
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}
.banner_contents h1{
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: white;
  margin-bottom: 16px;
}
.banner_contents h1 span{
  color: #30B868;
}
.banner_contents p{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
  margin-bottom: 32px;
}
.banner_bottom_btn{
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
.banner_bottom_btn button{
  background-color: #30B868;
  padding: 12px 16px;
  border: 1px solid #30B868;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.banner_bottom_btn button:hover{
  background-color: transparent;
  border: 1px solid white;
  transition: all;
}
.banner_bottom_btn button span{
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-right: 10px;
}
.banner_bottom_btn button img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
